<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button shape="round" id="open-toast" color="light">Sold</ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Carrito de Compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary">
 <!-- <ion-item *ngFor="let produ of cardProdu">
    <ion-thumbnail slot="start">
      <img [src]="produ.image">
    </ion-thumbnail>
    <ion-label>
      <h2>{{ produ.title}}</h2>
      <p> {{ produ.price | currency }}</p>
    </ion-label>
  </ion-item> -->
  <ion-toast trigger="open-toast" message="Compra Realizada" [duration]="3000" icon="cash" color="success"></ion-toast>
</ion-content>

