<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button shape="round" id="open-toast" color="primary">Sold</ion-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Carrito de Compras</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-toast trigger="open-toast" message="Compra Realizada" [duration]="3000" icon="cash"></ion-toast>
</ion-content>

