<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-button size="default" slot="end" (click)="goToDetails()" color="light">
      <ion-icon name="cart"></ion-icon>
    </ion-button>
    <ion-title>Producto</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="productItem">
  <ion-toolbar color="primary">
    <ion-card color="secondary">
      <img [src]="productItem.image">
      <ion-card-header>
        <ion-card-title>{{ productItem.title }}</ion-card-title>
        <ion-card-subtitle>{{ productItem.price | currency }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content color="secondary">
        <p>{{ productItem.description }}</p>
        <p>Category: {{ productItem.category }}</p>
        <p>Rating: {{ productItem.rating.rate }} ({{ productItem.rating.count }} reviews)</p>
        <ion-button id="headerAnchor" color="light">Purchase</ion-button>
      </ion-card-content>
    </ion-card>
    <ion-toast trigger="headerAnchor" position="top" positionAnchor="header" message="Añadido con Exito!!" duration="2000" color="success"></ion-toast>
  </ion-toolbar>
</ion-content>
